<Ui xmlns="http://www.blizzard.com/wow/ui/">
	<Script file="Descriptions.lua" />
	<Script file="Previews.lua" />
	<Script file="Pages.lua" />
	<Script file="TextSlots.lua" />
	<Script file="Profiles.lua" />
	<Script file="Settings.lua" />
	<Script file="StylePicker.lua" />
	<Script file="Mover.lua" />
	<Script file="EditMode.lua" />
	<Script file="EditPanel.lua" />
</Ui>
